body {
    background: green url("bg.jpg") repeat 50% 0;
    font-family: Arial, Helvetica, sans-serif
}

h1 {color: gold;
text-align:center 
}
#hightlights{
  background-color: rgb(31, 160, 63);
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}

.hightlight-contant {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.hightlight-contant article{
  width: 500px;
}



p{
 background: rgba(0, 225, 0, 0.1);  
 padding: 20px;
}
img{
 width: 100px;
}
footer{
  background: black;
  color: white;
}

 

