body {
    background: green url("depositphotos_84188754-stock-photo-green-grass-texture.jpg") repeat 50% 0;
    font-family: Arial, Helvetica, sans-serif
}

h1 {color: gold;
text-align:center 
}
p{
 background: rgba(0, 225, 0, 0.1);  
}
img{
  width: 100px;
}
 

